<% @page_title = "All Stats" %>

<div>
  <h2>Stats Catalog</h2>
  <% if user_logged_in? %>
    <%#= image_tag('plus_sign.png', :size => '11x11', :alt => '+') %>
    <%= link_to("Add New Stat", new_stat_path(:page => params[:page])) %>
  <% end %>

  <%= will_paginate @stats %>
  <table>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>url</th>
      <% if user_logged_in? %>
        <th>Actions</th>
      <% end %>
    </tr>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.id %></td>
        <td><%= stat.name %></td>
        <td><%= link_to(stat.url, stat.url) %></td>
        <td>
          <%= link_to("Show", stat_path(stat, :page => params[:page])) %>
          <% if user_logged_in? %>
            <%= link_to("Edit", edit_stat_path(stat, :page => params[:page])) %>
            <%= link_to("Delete", delete_stat_path(stat, :page => params[:page])) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @stats %>
  
</div>
