<% @page_title = @pokemon_id ? "#{@pokemon_name} (id: #{@pokemon_id}) Stats" : "All Pokemons Stats" %>

<%= link_to("<< Back to Pokemon List", pokemons_path(:pokemon_page => params[:pokemon_page])) %>

<div>
  <h2><%= @pokemon_id ? "#{@pokemon_name} (id: #{@pokemon_id}) Stats" : "Stats" %></h2>
  <% if user_logged_in? %>
    <%#= image_tag('plus_sign.png', :size => '11x11', :alt => '+') %>
    <%= link_to("Add New Pokemon Stat", new_pokemons_stat_path(:pokemon_page => params[:pokemon_page], :stat_page => @stat_page, :pokemon_id => params[:pokemon_id])) %>
  <% end %>

  <%= will_paginate @pokemon_stats %>
  <table>
    <tr>
      <th>#</th>
      <th>Pokemon ID</th>
      <th>Pokemon Name</th>
      <th>Stat ID</th>
      <th>Stat Name</th>
      <th>Base Stat</th>
      <% if user_logged_in? %>
        <th>Actions</th>
      <% end %>
    </tr>
    <% @pokemon_stats.each do |pokemon_stat| %>
      <tr>
        <td><%= pokemon_stat.id %></td>
        <td><%= pokemon_stat.pokemon.id %></td>
        <td><%= pokemon_stat.pokemon.name %></td>
        <td><%= pokemon_stat.stat.id %></td>
        <td><%= pokemon_stat.stat.name %></td>
        <td><%= pokemon_stat.base_stat %></td>
        <td>
          <%= link_to("Show", pokemons_stat_path(pokemon_stat, :pokemon_page => params[:pokemon_page], :stat_page => @stat_page, :pokemon_id => params[:pokemon_id])) %>
          <% if user_logged_in? %>
            <%= link_to("Edit", edit_pokemons_stat_path(pokemon_stat, :pokemon_page => params[:pokemon_page], :stat_page => @stat_page, :pokemon_id => params[:pokemon_id])) %>
            <%= link_to("Remove", delete_pokemons_stat_path(pokemon_stat, :pokemon_page => params[:pokemon_page], :stat_page => @stat_page, :pokemon_id => params[:pokemon_id])) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @pokemon_stats %>
</div>