<% @page_title = "All Items" %>

<div>
  <h2>Items Catalog</h2>
  <% if user_logged_in? %>
    <%#= image_tag('plus_sign.png', :size => '11x11', :alt => '+') %>
    <%= link_to("Add New Item", new_item_path(:page => params[:page])) %>
  <% end %>

  <%= will_paginate @items %>
  <table>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>url</th>
      <% if user_logged_in? %>
        <th>Actions</th>
      <% end %>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= link_to(item.url, item.url) %></td>
        <td>
          <%= link_to("Show", item_path(item, :page => params[:page])) %>
          <% if user_logged_in? %>
            <%= link_to("Edit", edit_item_path(item, :page => params[:page])) %>
            <%= link_to("Delete", delete_item_path(item, :page => params[:page])) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @items %>
  
</div>
