<%= error_messages_for(f.object) %>
<table>
  <% if mode == :edit %>
    <tr>
      <th>#</th>
      <td><%= @user.id %></td>
    </tr>
  <% end %>
  <tr>
    <th>LastName</th>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <th>First Name</th>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <th>username</th>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <th>email</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>Password</th>
    <td><%= f.text_field(:password) %></td>
  </tr>
  <% if mode == :edit %>
    <tr>
      <th>created at</th>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <th>updated at</th>
      <td><%= @user.updated_at %></td>
    </tr>
  <% end %>
</table>
