<% @page_title = "All Users" %>

<%= link_to("<< Back to Menu", access_url(:page => params[:page])) %>

<div>
  <h2>Users</h2>
  <% if user_logged_in? %>
    <%#= image_tag('plus_sign.png', :size => '11x11', :alt => '+') %>
    <%= link_to("Add New User", new_user_path(:page => params[:page])) %>
  <% end %>

  <%= will_paginate @users %>
  <table>
    <tr>
      <th>#</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>userame</th>
      <th>email</th>
      <% if user_logged_in? %>
        <th>Actions</th>
      <% end %>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.username %></td>
        <td><%= mail_to(user.email) %></td>
        <td>
          <%= link_to("Show", user_path(user, :page => params[:page])) %>
          <% if user_logged_in? %>
            <%= link_to("Edit", edit_user_path(user, :page => params[:page])) %>
            <%= link_to("Set Password", edit_user_path(user, :page => params[:page], :set_password => true)) %>
            <%= link_to("Delete", delete_user_path(user, :page => params[:page])) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @users %>

</div>


